In [6]:
# Task 1: Your first task is to navigate to your terminal and ensure that Python is installed and available on the command path. 
#To complete this task, type the following syntax:

!python --version

Python 3.10.15

In [ ]:
# Task 2: Having established that an up-to date version of python is installed on your machine you will need to install Jupyter. 
#You can install Jupyter using the following code: 

#!python -m pip install jupyter
# !jupyter notebook  -- already installed

In [17]:
#Task 3
#Your third and final task is to establish a connection between Python and your database using the following steps:

!pip install mysql-connector-python
import mysql.connector as connector

connection = connector.connect(user="root2", password="yXo_ztj9389HWZr", host="localhost")
cursor = connection.cursor()
cursor.execute("USE littlelemondb")
cursor.execute("SHOW TABLES")
results = cursor.fetchall()
for result in results:
    print(result)

Requirement already satisfied: mysql-connector-python in c:\users\jefffrazier\anaconda\lib\site-packages (9.1.0)
('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

In [18]:
!pip install mysql-connector-python
import mysql.connector as connector

connection = connector.connect(user="root2", password="yXo_ztj9389HWZr", host="localhost")

Requirement already satisfied: mysql-connector-python in c:\users\jefffrazier\anaconda\lib\site-packages (9.1.0)

In [21]:
# Exercise: Add query functions

# Task 1: Completed above in item code block 3

#Task 2: In this second task, you now need to query the database to show all tables within the database. 
cursor = connection.cursor()
cursor.execute("USE littlelemondb")
cursor.execute("SHOW TABLES")
results = cursor.fetchall()
for result in results:
    print(result)

('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

In [25]:
# Task 3: Query with table JOIN

#Note: my table didn't have any orders over $60, so I used $30

stmt = """
SELECT Customers.FullName, Customers.Email, Customers.ContactNumber, Orders.TotalCost

FROM Customers
INNER JOIN Bookings ON Bookings.CustomerID = Customers.CustomerID
INNER JOIN Orders ON Orders.BookingID = Bookings.BookingID
WHERE Orders.TotalCost > 30

"""
cursor.execute(stmt)
results = cursor.fetchall()
for result in results:
    print(result)

('Diana Evans', 'diana.evans@example.com', '678-901-2345', Decimal('49.95'))
('Liam Parker', 'liam.p@example.com', '456-789-0124', Decimal('49.95'))
('Mia Quinn', 'mia.q@example.com', '567-890-1235', Decimal('39.96'))
('Quinn Underwood', 'quinn.u@example.com', '901-234-5679', Decimal('39.96'))
('Rachel Vance', 'rachel.v@example.com', '012-345-6790', Decimal('49.95'))