In [83]:
!pip install mysql-connector-python
import mysql.connector as connector

connection = connector.connect(user="root2", password="yXo_ztj9389HWZr", host="localhost")
cursor = connection.cursor()
cursor.execute("USE littlelemondb")
cursor.execute("SHOW TABLES")
results = cursor.fetchall()
for result in results:
    print(result)

Requirement already satisfied: mysql-connector-python in c:\users\jefffrazier\anaconda\lib\site-packages (9.1.0)
('bookings',)
('customers',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)
('staff',)

In [19]:
#Task 1: Little Lemon wants to populate the Bookings table of their database with some records of data. Your first task is to replicate 
#the list of records in the following table by adding them to the Little Lemon booking table. 

#First Need to delete Bookings with ID 1-4 if exists
sqlstmt= """
DELETE FROM Bookings WHERE BookingID IN (1,2,3,4);
"""
cursor.execute(sqlstmt)

# Show Bookings Table with missing Booking IDs 1-4
sqlstmt= """
SELECT * FROM Bookings;
"""
cursor.execute(sqlstmt)
results = cursor.fetchall()
for result in results:
    print(result)

(6, datetime.date(2023, 10, 6), 6, datetime.timedelta(seconds=61200), 6, 6, 6)
(9, datetime.date(2023, 10, 9), 9, datetime.timedelta(seconds=64800), 9, 9, 9)
(14, datetime.date(2023, 10, 14), 14, datetime.timedelta(seconds=50400), 14, 14, 14)
(15, datetime.date(2023, 10, 15), 15, datetime.timedelta(seconds=64800), 15, 15, 15)
(16, datetime.date(2023, 10, 16), 16, datetime.timedelta(seconds=68400), 16, 16, 16)
(17, datetime.date(2023, 10, 17), 17, datetime.timedelta(seconds=75600), 17, 17, 17)
(18, datetime.date(2023, 10, 18), 18, datetime.timedelta(seconds=68400), 18, 18, 18)
(19, datetime.date(2023, 10, 19), 19, datetime.timedelta(seconds=68400), 19, 19, 19)
(20, datetime.date(2023, 10, 20), 20, datetime.timedelta(seconds=72000), 20, 20, 20)

In [37]:
#Removing Foreign Key to Orders table for this exercise
# `fk_Bookings_Orders1` FOREIGN KEY (`OrderID`) REFERENCES `orders` (`OrderID`) ON DELETE CASCADE

stmt = """
ALTER TABLE Bookings DROP FOREIGN KEY IF EXISTS fk_Bookings_Orders1;

"""
#cursor.execute(stmt)

#Add Bookings to table using insert statement
sqlstmt = """
INSERT INTO `littlelemondb`.`bookings` (`BookingID`, `BookingDate`, `TableNo`, `OrderID`, `CustomerID`, `StaffID`, `BookingSlot`) VALUES
(1, '2022-10-10', 5, 1, 1, 1, '19:00:00'),
(2, '2022-11-12', 3, 2, 3, 2, '20:00:00'),
(3, '2022-10-11', 2, 3, 2, 3, '17:00:00'),
(4, '2022-10-13', 2, 4, 1, 4, '16:00:00')
"""
cursor.execute(sqlstmt)

# Show Bookings Table with  Booking IDs 1-4
sqlstmt= """
SELECT BookingID, BookingDate, TableNo, CustomerID FROM Bookings WHERE BookingID IN (1,2,3,4);
"""
cursor.execute(sqlstmt)
results = cursor.fetchall()
for result in results:
    print(result)

(1, datetime.date(2022, 10, 10), 5, 1)
(2, datetime.date(2022, 11, 12), 3, 3)
(3, datetime.date(2022, 10, 11), 2, 2)
(4, datetime.date(2022, 10, 13), 2, 1)

In [51]:
#Task 2: For your second task, Little Lemon need you to create a stored procedure called CheckBooking to check whether a table in the restaurant is
#already booked. Creating this procedure helps to minimize the effort involved in repeatedly coding the same SQL statements.

#The procedure should have two input parameters in the form of booking date and table number. You can also create a variable 
#in the procedure to check the status of each table.
removeprocedure = """
    DROP PROCEDURE IF EXISTS CheckBooking;
"""
#cursor.execute(removeprocedure)

#Create stored procedure
spstmt = """
CREATE PROCEDURE IF NOT EXISTS CheckBooking(IN checkdate date, IN checktable INT)
BEGIN
DECLARE count INT;
SELECT COUNT(BookingID) INTO count
FROM Bookings
WHERE BookingDate = checkdate AND TableNo = checktable;

IF count = 0 THEN
    SELECT CONCAT('Table ', checktable, ' is available.')  AS message;
ELSE
    SELECT CONCAT('Table ', checktable, ' is already booked.')  AS message;
END IF;
END

"""

cursor.execute(spstmt)

# caling the procedure
cursor.callproc('CheckBooking', ('2022-11-12', 3) )

# Print the output value
for result in cursor.stored_results():
    print("Booking Status")
    print(result.fetchall()[0][0])

Booking Status
Table 3 is already booked.

In [95]:
#Task 3: For your third and final task, Little Lemon need to verify a booking, and decline any reservations for tables that are already booked
#under another name. 

#Since integrity is not optional, Little Lemon need to ensure that every booking attempt includes these verification and decline steps. 
#However, implementing these steps requires a stored procedure and a transaction. 

#To implement these steps, you need to create a new procedure called AddValidBooking. This procedure must use a transaction statement to perform 
#a rollback if a customer reserves a table thatâ€™s already booked under another name.  

removeprocedure = """
    DROP PROCEDURE IF EXISTS AddValidBooking;
"""
cursor.execute(removeprocedure)

#Create stored procedure
spstmt = """
CREATE PROCEDURE IF NOT EXISTS AddValidBooking(IN checkdate date, IN checktable INT)
BEGIN
DECLARE count INT;
DECLARE maxBookingID INT; 

START TRANSACTION;

SELECT BookingID INTO maxBookingID FROM Bookings ORDER BY BookingID DESC LIMIT 1;

SELECT COUNT(BookingID) INTO count
FROM Bookings
WHERE BookingDate = checkdate AND TableNo = checktable;

IF count = 0 THEN
    INSERT INTO `littlelemondb`.`bookings` (`BookingID`, `BookingDate`, `TableNo`, `OrderID`, `CustomerID`, `StaffID`, `BookingSlot`) VALUES
    (MaxBookingID+1, checkdate, checktable, 1, 1, 1, '19:00:00');
    SELECT CONCAT('Table ', checktable, ' is available and has been booked.')  AS message;
    COMMIT;
ELSE
    
    SELECT CONCAT('Table ', checktable, ' is already booked - booking canceled.')  AS message;
    ROLLBACK;
END IF;
END

"""

cursor.execute(spstmt)

# caling the procedure
#cursor.callproc('AddValidBooking', ('2022-11-14', 3) )  #Booking fails
cursor.callproc('AddValidBooking', ('2023-11-14', 3) )  #Booking added

# Print the output value
for result in cursor.stored_results():
    print("Booking Status")
    print(result.fetchall()[0][0])

Booking Status
Table 3 is available and has been booked.

In [101]:
#Verifiy insert happens for table 3
sqlstmt= """
SELECT BookingID, BookingDate, TableNo, CustomerID FROM Bookings WHERE TableNo = 3;
"""
cursor.execute(sqlstmt)
results = cursor.fetchall()
for result in results:
    print(result)

(2, datetime.date(2022, 11, 12), 3, 3)
(22, datetime.date(2022, 11, 14), 3, 1)
(23, datetime.date(2023, 11, 14), 3, 1)

In [115]:
# Create SQL queries to add and update bookings
#Task 1: In this first task you need to create a new procedure called AddBooking to add a new table booking record.

#The procedure should include four input parameters in the form of the following bookings parameters: 
#booking id, customer id, booking date, and table number.

removeprocedure = """
    DROP PROCEDURE IF EXISTS AddBooking;
"""
#cursor.execute(removeprocedure)

#Create stored procedure
spstmt = """
CREATE PROCEDURE IF NOT EXISTS AddBooking(IN newBookingID INT, IN newCustomerID INT, IN newBookingdate date, IN newtable INT)
BEGIN
DECLARE count INT;

SELECT COUNT(BookingID) INTO count
FROM Bookings
WHERE BookingID = newBookingID AND CustomerID = newCustomerID AND BookingDate = newBookingdate AND TableNo = newtable;

IF count = 0 THEN
    INSERT INTO `littlelemondb`.`bookings` (`BookingID`, `BookingDate`, `TableNo`, `OrderID`, `CustomerID`, `StaffID`, `BookingSlot`) VALUES
    (newBookingID , newBookingdate, newtable, 1, newCustomerID, 1, '19:00:00');
    SELECT CONCAT('New booking added.')  AS message;
    COMMIT;
ELSE
    
    SELECT CONCAT('Table ', newtable, ' is already booked - booking canceled.')  AS message;
    ROLLBACK;
END IF;
END

"""

cursor.execute(spstmt)

# caling the procedure
cursor.callproc('AddBooking', (21, 4,'2022-12-30', 3) )

# Print the output value
for result in cursor.stored_results():
    print("Confirmation")
    print(result.fetchall()[0][0])

Confirmation
New booking added.

In [119]:
#Verify Confirmation
stmt = """SELECT * FROM Bookings WHERE BookingID=21;"""

cursor.execute(stmt)
cols = cursor.column_names
print(cols)
results = cursor.fetchall()
for result in results:
    print(result)

('BookingID', 'BookingDate', 'TableNo', 'BookingSlot', 'CustomerID', 'StaffID', 'OrderID')
(21, datetime.date(2022, 12, 30), 3, datetime.timedelta(seconds=68400), 4, 1, 1)

In [137]:
#Task 2: For your second task, Little Lemon need you to create a new procedure called UpdateBooking that they can use to update 
#existing bookings in the booking table.

#The procedure should have two input parameters in the form of booking id and booking date. You must also include an UPDATE statement 
#inside the procedure. 

removeprocedure = """
    DROP PROCEDURE IF EXISTS UpdateBooking;
"""
cursor.execute(removeprocedure)

#Create stored procedure
spstmt = """
CREATE PROCEDURE IF NOT EXISTS UpdateBooking(IN newBookingID INT, IN newBookingdate date)
BEGIN
DECLARE count INT;

SELECT COUNT(BookingID) INTO count
FROM Bookings
WHERE BookingID  = newBookingID;

IF count = 0 THEN
    SELECT CONCAT('Original booking does not exist.')  AS message;
ELSE
    UPDATE Bookings
    SET BookingDate = newBookingdate
    WHERE BookingID = newBookingID;
    SELECT CONCAT('Booking ', newBookingID, ' updated.')  AS message;
    
END IF;
END

"""

cursor.execute(spstmt)

# caling the procedure
cursor.callproc('UpdateBooking', (21,'2022-12-31') )

# Print the output value
for result in cursor.stored_results():
    print("Confirmation")
    print(result.fetchall()[0][0])

Confirmation
Booking 21 updated.

In [139]:
#Verify Confirmation
stmt = """SELECT * FROM Bookings WHERE BookingID=21;"""

cursor.execute(stmt)
cols = cursor.column_names
print(cols)
results = cursor.fetchall()
for result in results:
    print(result)

('BookingID', 'BookingDate', 'TableNo', 'BookingSlot', 'CustomerID', 'StaffID', 'OrderID')
(21, datetime.date(2022, 12, 31), 3, datetime.timedelta(seconds=68400), 4, 1, 1)

In [147]:
#Task 3: For the third and final task, Little Lemon need you to create a new procedure called CancelBooking 
#that they can use to cancel or remove a booking.

#The procedure should have one input parameter in the form of booking id. You must also write a DELETE statement inside the procedure. 

removeprocedure = """
    DROP PROCEDURE IF EXISTS CancelBooking;
"""
cursor.execute(removeprocedure)

#Create stored procedure
spstmt = """
CREATE PROCEDURE IF NOT EXISTS CancelBooking(IN newBookingID INT)
BEGIN
DECLARE count INT;

SELECT COUNT(BookingID) INTO count
FROM Bookings
WHERE BookingID  = newBookingID;

IF count = 0 THEN
    SELECT CONCAT('Original booking does not exist.')  AS message;
ELSE
    DELETE FROM Bookings
    WHERE BookingID = newBookingID;
    SELECT CONCAT('Booking ', newBookingID, ' cancelled.')  AS message;
    
END IF;
END

"""

cursor.execute(spstmt)

# caling the procedure
cursor.callproc('CancelBooking', (21,) )

# Print the output value
for result in cursor.stored_results():
    print("Confirmation")
    print(result.fetchall()[0][0])

Confirmation
Booking 21 cancelled.

In [149]:
#Verify Confirmation
stmt = """SELECT * FROM Bookings WHERE BookingID=21;"""

cursor.execute(stmt)
cols = cursor.column_names
print(cols)
results = cursor.fetchall()
for result in results:
    print(result)

('BookingID', 'BookingDate', 'TableNo', 'BookingSlot', 'CustomerID', 'StaffID', 'OrderID')